@import 'src/styles/mixin';

.component {
  height: 150px;
  padding: 12px 64px;
  background: #190520;
  border-bottom: 1px solid #381c2f;
  justify-content: space-between;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .component {
      align-items: center;
      justify-content: center;
  }
}
