.component {
  background-color:  #25082a;
  box-shadow: 0 0 0.5px var(--shadow-color-1);
  border: 2px solid #721d6b;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 24px;
  border-bottom: 1px solid #5a3554;
}

.iconSet {
  margin-right: 24px;
}

.infoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nameLabel {
  color: #FFF!important;
  font-size: 1.5em!important;
  margin: 10px 0;
}

.epochLabel {
  color: #FFF!important;
  font-size: 1.5em!important;
}

.stakingBtn {
  margin: 0 0 0 auto;
}

.body {
  display: grid;
  grid-auto-flow: row;
}

.label {
  color: #FFF!important;
  font-size: 1.3em!important;
  margin: 10px 0;
}

.value {
  color: #FFF!important;
  font-size: 1.3em!important;
  margin: 10px 0;
}

.hint {
  color: #FFF!important;
  font-size: 1.3em!important;
  margin: 10px 0;
}

.row {
  display: grid;
  grid-row-gap: 4px;
  padding: 24px;
  border-bottom: 1px solid var(--border-color-1);
}

.labelWrap {
  display: grid;
  grid-template-columns: max-content 16px;
  grid-column-gap: 8px;
  align-items: center;
}

.box {
  background: rgba(113, 121, 128, 0.04);
  border: 1px solid #5a3554;
  border-radius: 4px;
  margin: 24px;
  padding: 16px;
}

tspan {
  color: #FFF!important;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .stakingBtn {
    width: 100%;
    flex-grow: 1;
    margin-top: 8px;
  }
}
