.component {
}

.title {
  color: white;
  background: -webkit-linear-gradient(left, #f600b6, #2407e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  margin: 20px auto;
  font-weight: 900;
}

.body {
  padding: var(--content-padding);
  width: calc(100% - 250px);
  padding-top: 120px;
}
.outer {
  width: 100%;
  flex: 0 0 250px;
  max-width: 250px;
  height: 100vh;
}
.flex{
  display: flex;
}

.content {
  padding-top: 64px;
}

/* RESPONSIVE */
@media (max-width: 1190px) {
  .body {
    width: 100%;
  }
  .outer {
    flex: auto;
    height: auto;
  }
  .flex{
    flex-direction: column;
  }
}
@media (max-width: 1400px) {
  .stats {
    margin-bottom: 32px;
  }

  .walletRow {
    margin-bottom: 32px;
  }

  .wallet {
    position: absolute;
    right: 0;
    top: -5px;
    z-index: 999;
  }
}
