.list-none{
  list-style: none;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.flex-text-center {
  justify-content: center;
}
.sidebar-wrapper {
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;
  z-index: 1200;
  position: fixed;
  top: 0;
  outline: 0;
  left: 0;
  width: 250px;
  background: url("../../../../../src/resources/img/sidebar-bg.png");
}
.sidebar-inner {
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  z-index: 9;
  padding: 0 15px 180px;
}
.sidebar-logo {
  display: flex;
  flex-direction: column;
  padding: 24px 0 16px;
}
.sidebar-logo a.min-logo {
  margin: 34px 0 0 0;
  color: #fff;
}
.sidebar-logo figure {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 0 13px;
  margin: 0;
  position: relative;
  background-size: 93% 100%;
  background: url("../../../../../src/resources/img/logo-shape.png") no-repeat right;
}
.sidebar-logo figure:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../../../../../src/resources/img/star.svg") no-repeat;
  width: 66px;
  height: 66px;
  background-size: contain;
}
.sidebar-logo a.min-logo img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  object-fit: cover;
}
.sidebar-logo section {
  margin-left: 16px;
  text-align: left;
}
.sidebar-logo section h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1.3;
  font-size: 16px;
  color: #fff;
}
.sidebar-logo section p {
  margin: 0;
  line-height: 1.57143;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.sidebar-menu li a {
  display: flex;
  text-decoration: none;
  padding: 14px 28px 15px;
  text-transform: capitalize;
  height: 50px;
  color: rgb(145, 158, 171);
  justify-content: flex-start;
  align-items: center;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),linear-gradient(90deg, #DC04FF 0%, #201CE0 100.24%);
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: 2px 1000px 1px #28114D inset;
  clip-path: polygon(0 0, 89% 1%, 100% 42%, 100% 100%, 10% 100%, 0 58%);
  border-radius: 5px;
  position: relative;
}
.sidebar-menu li:first-child a:after {
  content: '';
  position: absolute;
  right: 17px;
  top: -10px;
  background: url("../../../../../src/resources/img/star.svg") no-repeat;
  width: 42px;
  height: 42px;
  background-size: contain;
}
.sidebar-menu li a:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(82.89deg, rgba(228, 38, 178, 0.4) -21.91%, rgba(231, 75, 234, 0) 43.29%);
  width: 100%;
  height: 100%;
}
.sidebar-menu li a.active:before {display: none}
.sidebar-menu li:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 9px;
  width: 31px;
  background: #201CE0;
  height: 3px;
  transform: rotate(39deg);
  border-radius: 5px;
  z-index: 1;
}
.sidebar-menu li:after {
  content: '';
  position: absolute;
  left: -3px;
  bottom: 10px;
  width: 30px;
  background: #DC04FF;
  height: 3px;
  transform: rotate(41deg);
  border-radius: 5px;
}
.sidebar-menu li a.active {
  background: linear-gradient(90deg, #DC04FF 0%, #201CE0 100.24%);
  clip-path: polygon(0 0, 89% 1%, 100% 42%, 100% 100%, 10% 100%, 0 58%);
  border: none;
  box-shadow: none;
}
.sidebar-menu li {
  margin-bottom:23px;
  position: relative;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
.sidebar-navigation a span {
  background: -webkit-linear-gradient(#E426B2, #51C2FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 17px;
  font-weight: 600;
}
.sidebar-menu li a.active span,
.sidebar-menu li:hover a span{
  background: none;
  color: #fff;
  font-weight: 400;
  -webkit-text-fill-color: unset;
}
.sidebar-menu li a img {
  height: 30px;
  object-fit: contain;
  margin-right: 16px;
}
.sidebar-social-network {
  position: fixed;
  bottom: -10px;
  left: 0;
  padding: 15px 15px 30px !important;
}
.sidebar-social-network li a span {
  margin-left: 20px;
}
.sidebar-social-network li { margin-bottom: 15px;}
/* width */
.sidebar-inner::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.sidebar-inner::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
.sidebar-inner::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0);
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
/* Handle on hover */
.sidebar-wrapper:hover .sidebar-inner::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.15);
}
.mini-menu {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: none;
  border: 1px solid #fff;
  background-color: transparent;
  margin-left: auto;
  /*display: flex;*/
  position: relative;
}
.mini-menu:before {
  content: '';
  position: absolute;
  right: 4px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100%;
}
.sidebar-wrapper.activeMenu .mini-menu:before { display: none}
.sidebar-wrapper.activeMenu {
  width: 102px;
}
.sidebar-wrapper.activeMenu:hover {
  width: 250px;
  background-color: rgba(22,28,36,0.88);
  border-right: none;
  backdrop-filter: blur(6px);
  box-shadow: rgba(0,0,0,0.24) 0 0 2px 0, rgba(0,0,0,0.24) 0 20px 40px -4px;
}
.sidebar-wrapper.activeMenu .sidebar-logo > a,
.sidebar-wrapper.activeMenu .sidebar-logo .mini-menu,
.sidebar-wrapper.activeMenu .sidebar-menu li a span,
.sidebar-wrapper.activeMenu .upper-logo > a{ display: none}
.sidebar-wrapper.activeMenu:hover .sidebar-logo > a,
.sidebar-wrapper.activeMenu:hover .sidebar-logo .mini-menu,
.sidebar-wrapper.activeMenu:hover .sidebar-menu li a span,
.sidebar-wrapper.activeMenu:hover .upper-logo > a{ display: block;}
.menu-button {
  position: absolute;
  width: 30px;
  right: -47px;
  top: 80px;
  display: none;
}

@media screen and (max-width: 1190px) {
  .sidebar-social-network {
    position: relative;
    padding-bottom: 0 !important;
    margin-top: 50px !important;
  }
  .upper-logo a { display: none;}
  .menu-button { display: block}
  .sidebar-wrapper.activeMobile .menu-button {
    display: none;
  }
  .sidebar-wrapper {
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
    overflow-y: inherit;
  }
  .sidebar-wrapper.activeMobile {
    transform: translateX(0);
    background: linear-gradient(75deg, rgba(22, 28, 36, 0.48) 0%, rgb(22, 28, 36) 100%);
  }
  .sidebar-inner {
    background: rgb(41, 27, 52);
    max-width: 250px;
    padding-bottom: 0;
  }
  .sidebar-inner::-webkit-scrollbar-thumb,
  .sidebar-wrapper:hover .sidebar-inner::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 0;
  }
  .sidebar-logo a.min-logo { margin-right: 0;}
  .sidebar-inner::-webkit-scrollbar {
    width: 7px;
  }.sidebar-inner::-webkit-scrollbar-track {
     background: #161c24;
   }
  .mini-menu {
    display: none;
  }
}